/* DEV COM */
.dev-com {
   margin-top: 200px;

   .not-found img {
      margin-bottom: 50px;
   }
   .not-found h3 {
      color: #2f2d51;
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 30px;
   }
   .not-found p {
      color: #77838f;
   }
   .authors {
      width: 10%;
      float: left;
      background-color: #082c6c;
      color: #fff;
      height: 200px;
      padding: 20px;
      align-items: center;
      justify-content: center;
   }

   .content1 {
      width: 90%;
      float: right;
      height: 200px;
      padding: 20px;
      background-color: #eaf0f9;
   }

   .username {
      color: grey;
   }

   .spacing {
      width: 100%;
      float: left;
      height: 10px;
      background-color: white;
   }

   .button {
      border: 2px solid #082c6c;
      background-color: #082c6c;
      color: white;
      padding: 5px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
   }

   .special_button {
      background-color: #032053;
      color: white;
      padding: 8px 29px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
   }   

   .div_img{
      padding: 0px;
      margin: 0px;
      margin-top: -100px;
      width: 100%;
      height: auto;
   }
}
